body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0A2240;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.login-box {
  background: white;
  padding: 30px;
  border-radius: 12px;
  width: 300px;
  text-align: center;
}

input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
}

button {
  width: 100%;
  padding: 12px;
  background: #0A2240;
  color: white;
  border: none;
  cursor: pointer;
}
